<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> Document</title>
    </head>
    <body>
        <h1>Google Sheet Integration</h1>
        <form action="" method="POST">
            <div>
                <label for="integration">Integration</label>
                <textarea name="integration" id="integration" cols="30" rows="10"></textarea>
            </div>
            <div>
                <label for="google">GoogleSheet</label>
                <input type="name" id="name" name="name" />
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>